html, body, #root, #main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the form at the top and let it grow with content */
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Allow scrolling if content exceeds viewport height */
}

body, input, select, textarea, button {
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  font-size: 14px; 
}

.login-container, .event-booking-container {
  width: 70%;
  max-width: 1000px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.login-form, .event-form {
  padding: 16px;
  background-color: #f8d2c2;
  border: 1px solid #ec3c35;
  border-radius: 8px;
  margin-bottom: 16px;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

.form-group input:focus {
  outline: none;
  border-color: #2684FF;
  box-shadow: 0 0 0 1px #2684FF; 
}


.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
button:focus {
  outline: none;
  border-color: #2684FF;
  box-shadow: 0 0 0 1px #2684FF; 
}


button:hover {
  background-color: #0056b3;
}


/* .react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker-popper {
  z-index: 1;
  line-height: 0;
  position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(96.5px, -56px);
    will-change: transform;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  line-height: initial;
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.react-datepicker__month-container {
  float: left;
} */

